body {
  background-color: rgb(23, 23, 23);
}

.fullscreen {
  width: 90%;
  margin: auto;
  height: 90vh;
  display: flex;
  padding: -20px;
  justify-content: left;
  align-items: center;
  border-radius: 20px;
  border: color(#fff) 2px solid;
}

h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: 0;
}

h1 span {
  color: rgb(138, 29, 255);
  font-size: 24px;
  text-align: left;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: #c5c5c5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 90%;
}

button {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  background: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border: #fff 2px solid;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.menu {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.menu a:hover {
  color: #a1a1a1;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
